{{define "auth"}}
{{template "head"}}
<body>
{{template "header"}}
<div class="centered">
Welcome! Please enter the password. If you do not know the password, contact Jacob Bohanon or Christie Murphy.
<br>
<input type="password" id="pswd"></input>
<br>
<button id="submit-btn">Go</button>
<script src="/static/scripts/auth.js"></script>
</div>
</body>
{{end}}
