{{define "chat"}}
<div id="chat">
<script src="/static/scripts/chat.js"></script>
<div id="chat-playback"></div>
<div id="chat-write">
<input type="text" id="chat-text"/>
<button for="chat-text" onClick=submitChat({{.}})>Send</button>
</div>
</div>
{{end}}
