{{define "header"}}
<div id="page-header" style="width:100%" class="centered">
<a href="/">Home</a>
<a href="/inside">Orders List (Inside)</a>
<a href="/outside">New Order (Outside)</a>
<a href="/stats">Stats</a>
<br>
<img src="/static/images/fish-fry-logo.jpg" width="200" height="200">
</div>
{{end}}
